body {
    margin: 0;
}

.LoadingScreen.disabled {
    opacity: 0;
}

.LoadingScreen {
    --background-color: #040836;
    position: absolute;
    z-index: 1000;
    top: 0px;
    bottom: 0px;
    display: flex;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: opacity 150ms 0ms ease-out, visibility 150ms 0ms step-start;
    vertical-align: middle;
    visibility: visible;
}

.LoadingScreen__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--background-color);
}

.LoadingScreen--loaded {
    opacity: 0;
    transition: opacity 400ms 0ms ease-in, visibility 400ms 0ms step-end;
    visibility: hidden;
}

.LoadingAnimation {
    --ease-in-cubic: cubic-bezier(0.32, 0, 0.67, 0);
    --ease-in: var(--ease-in-cubic);

    opacity: 1;
    transform: scale3d(1, 1, 1);
}

.LoadingAnimation__logo {
    width: 140px;
    height: 140px;
    background-image: url("images/LogoGIAWhite.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.LoadingAnimation--loading {
    transform: scale3d(1, 1, 1);
}

.LoadingAnimation--loaded {
    --duration: 400ms;
    --delay: 0ms;

    animation: LoadingAnimation__fade-out var(--duration) var(--delay) var(--ease-in) forwards, LoadingAnimation__shrink var(--duration) var(--delay) var(--ease-in) forwards;
}

@keyframes LoadingAnimation__fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes LoadingAnimation__shrink {
    0% {
        transform: scale3d(1, 1, 1);
    }
    100% {
        transform: scale3d(0.35, 0.35, 1);
    }
}
